$primary-color: #5e6cf5;
$secondary-color: #FF5F16;
$white-color: #fff;

$title-color: #2E343E;
$text-color: #6F7782;

$low-priority: #2ED4B3;
$medium-priority: #FF9E14;
$high-priority: #FF4073;


$danger-color: #f54c62;
$warning-color: #FF5F16;
$success-color: #2ED4B3;
$draft-color: #3088d4;


$shadow-color: rgba(64, 78, 110, .14);