.container {
  display: flex;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 60vw;


  img {
    width: 100%;
    margin: auto;
    border-left: 1px solid rgba(204, 204, 204, 0.5);
  }
}

.formContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  margin: auto;

  Input {
    margin-bottom: 2rem;
  }

  button {
    margin-top: 1.5rem;
  }
}

.inputContainer {
  margin: 6rem 0;
}

