
*, 
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

h1, 
h2{
    font-weight: 300;
    line-height: 1.2;
}

p{
    margin: 10px;
}

img{
    width: 100%;
}

/* NavBar */
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#333 ;
    color: white;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
}

.navBar a{
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navBar a:hover{
    border-bottom: 2px solid #28a745;
}

.navBar ul{
    display: flex;
}

.navBar .logo{
    font-weight: 400;
}

/* Header */
.hero{
    background: url(image_resources/home/showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    color: #fff;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.heading-primary{
    font-weight: 500;
    font-size: 55px;
    letter-spacing: 10px;
}

.content p{
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero::before{
     content: " ";
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background-color:rgba(0, 0, 0, 0.6);
}

.hero *{
    z-index: 10;
}

.icons{
    padding: 30px;
}

.icons h3{
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i{
    background-color: #28a745;
    color: white;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* flex items */
.flex-items{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-items > div{
    padding: 20px;
}

 /* Flex cols */
.flex-cols.flex-reverse .row{
    flex-direction: row;
}

 .flex-cols .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
 }

 .flex-cols .col{
     display: flex;
     flex-direction: column;
     flex-basis: 100%;
     flex: 1;
 }

.flex-cols .col .col-1,
.flex-cols .col .col-2{
    height: 100%;
}

.flex-cols img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.flex-cols .col-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-cols h2{
    font-size: 40px;
    font-weight: 100;
}

.flex-cols h4{
    margin-bottom: 10px;
}

.flex-cols p{
    margin: 20px 0;
}

.cases img:hover{
    opacity: 0.7;
} 